<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mandywebdesign.impromptu">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" /> <!-- Sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" /> <!-- HTC -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTop"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".SettingFragmentsOptions.EventWiseReauest"></activity>
        <activity android:name=".SettingFragmentsOptions.RefundRequests" />
        <activity android:name=".stripeconnect.ConnectStripe" />
        <activity android:name=".Filter.FilteredActivity" />
        <activity
            android:name=".Filter.FilterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Filter.CustomPlacePicker"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".SettingFragmentsOptions.PaymentDetailActivity" />
        <activity android:name=".BusinessRegisterLogin.BusinessUserPRofileActivity">
            <intent-filter>
                <action android:name="com.mandywebdesign.impromptu.PROFILE_BUSINESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingFragmentsOptions.FlagInappropriate" />
        <activity android:name=".SettingFragmentsOptions.TandCOptions" />
        <activity android:name=".SettingFragmentsOptions.HelpOptionsActivity" />
        <activity android:name=".BusinessRegisterLogin.BussinessProfileActivity3" />
        <activity android:name=".BusinessRegisterLogin.BussinessProfileActivity2" />
        <activity android:name=".BusinessRegisterLogin.BussinessProfileAcitivity1" />
        <activity android:name=".SettingFragmentsOptions.PrivancyActivity" />
        <activity android:name=".SettingFragmentsOptions.TermsAndConditionsActivityy" />
        <activity android:name=".SettingFragmentsOptions.HelpActivity" />
        <activity android:name=".ui.PayActivity" />
        <activity android:name=".messages.ChatBoxActivity">

            <!--
            <intent-filter>
                <action android:name="com.mandywebdesign.impromptu.EVENT_CHAT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".BusinessRegisterLogin.SeeAll_activity" />
        <activity android:name=".BusinessRegisterLogin.QrScanActivity" />
        <activity android:name=".ui.ConfirmationActivity" />
        <activity android:name=".ui.BookEventActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="impromptusocial.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name=".BusinessRegisterLogin.CheckGuestActivity" />
        <activity android:name=".BusinessRegisterLogin.BusinessEventDetailAcitvity" />
        <activity android:name=".SettingFragmentsOptions.NormalGetProfile">
            <intent-filter>
                <action android:name="com.mandywebdesign.impromptu.PROFILE_NORMAL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingFragmentsOptions.NormalPublishProfile" />
        <activity
            android:name=".SettingFragmentsOptions.FAQs"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SettingFragmentsOptions.Contact_Us"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.NoInternetScreen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ui.PerviewAdverts" />
        <activity android:name=".ui.Add_Adverts" />
        <activity android:name=".BusinessRegisterLogin.RegisterSlideActivity" />
        <activity
            android:name=".BusinessRegisterLogin.BusinessCharityRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Home_Screen_Fragments.AddEvents.PerviewEventActivity"
            android:parentActivityName=".Home_Screen_Fragments.AddEvents.EventDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Home_Screen_Fragments.AddEvents.EventDetailsActivity"
            android:parentActivityName=".Home_Screen_Fragments.AddEvents.Add_Event_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".Home_Screen_Fragments.AddEvents.Add_Event_Activity"
            android:parentActivityName=".ui.Home_Screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.Home_Screen"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="com.mandywebdesign.impromptu.RATING_NOTIFY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Join_us"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="mandywebdesign.page.link" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <!--
 <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d8234e6b517958c46f3aa852b9d439ed3e223f06" />
        -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e7cb0c120552e5fe67620631e720a640b02409fc" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleclientId" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <service android:name=".firebasenotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>